<div class="container">
  <div class="row justify-content-center">
    {{keyboard-key
      class="up-key"
      letter="w"
      press=(perform onClickUp 2)}}
  </div>
  <div class="row justify-content-center">
    {{keyboard-key
      class="left-key"
      letter="a"
      press=(perform onClickLeft 2)}}
    {{keyboard-key
      class="down-key"
      letter="s"
      press=(perform onClickDown 2)}}
    {{keyboard-key
      class="right-key"
      letter="d"
      press=(perform onClickRight 2)}}
  </div>
</div>



