<div class="container">
  <div class="row justify-content-center">
    {{keyboard-key
      class="up-key"
      letter="w"}}
  </div>
  <div class="row justify-content-center">
    {{keyboard-key
      class="left-key"
      letter="a"}}
    {{keyboard-key
      class="down-key"
      letter="s"}}
    {{keyboard-key
      class="right-key"
      letter="d"}}
  </div>
</div>



